# Django
SECRET_KEY=впиши-сюда-секретный-ключ-django

# JWT
JWT_SECRET=впиши-сюда-секретный-ключ-jwt

# PostgreSQL
DB_NAME=auth_db
DB_USER=postgres
DB_PASSWORD=впиши-сюда-пароль
DB_HOST=localhost
DB_PORT=5432